/*  CSS Document for MIT Ridonkulous Website */ 
/* 
  
  
Title:          style.css 
Browser(s):     All  
  
Author:         Aaron Suarez 
Created:        5.30.2013 

Edited:			Sarah Liu
				6.14.2015
  
*/

/* =Typography
-----------------------------------------------------------------------------*/
@font-face {
    font-family:'Raleway', sans-serif;
    font-weight: 100;
}

h1,h2,h3,h4,h5,h6,nav {
  	font-family: 'Raleway', sans-serif;
  	color: #7a7a7a;
}
h1 {
	color:#7a7a7a;
	font-size:3em;
	letter-spacing: 10px;
}
h2 {
	font-size:2em;
	letter-spacing: 10px;
}
h3 {
	font-size:1.4em;
	clear:both;
}
p {
	font-family:Helvetica, sans-serif;
	font-weight:100;
	line-height: 1.3em;
}

footer p {
	text-align:center;
	font-family:'Raleway', sans-serif;
}
a {
	text-decoration: none;
	color: #7a7a7a;
}
a:hover {
	color: #05A62D;
}

/* =Layout
-----------------------------------------------------------------------------*/
.container	{ 
	min-height:100%;
	position:relative;
}

body { 
  	background-color: #FFFFFF;
  	color: #7a7a7a;
  	width: 8000px;

} 

.panel { 
	width: 900px; 
	float: left; 
	margin-left: 180px; 
	margin-right: 520px; 
	margin-top: 60px;
	margin-bottom: 100px;
	padding-top: 30px;
} 


img {
	max-width: 100%;
	height: auto;
	display: block;
	/*margin:auto;*/
}

.contact_icon {
	display: block;
}

/* =Header
-----------------------------------------------------------------------------*/
nav {
	background-color:#FFFFFF;
	position:fixed;
	float:right;
	height:30px;
	width:auto;
	border-bottom: dotted 1px;
}
nav ul{
	float:right;
	display:inline-block;
	position: absolute;
	bottom:0;
	right:15px;
}
nav ul li {
	display:inline;
	font-size:1.3em;
	padding:0 10px;
	position: relative;
}
nav ul li a {
	text-decoration:none;
	color: #7a7a7a;
	vertical-align:middle;
}
nav ul li a:hover {
	color: #05A62D;
}
a.current{
	color: #05A62D;
}


/* =Home
-----------------------------------------------------------------------------*/
#banner {
	display: block;
	float: left;
	margin-top: 60px;
}
#logo {
	float: left;
	margin-right: 30px;
}
#banner-words {
	padding-top: 120px;
}


/* =About Us
-----------------------------------------------------------------------------*/
#aboutus {
}


/* =Meet the Team
-----------------------------------------------------------------------------*/
.bio_image {
	width:100px;
	height:auto;
	float:left;
	margin:4px;
}
.bio_image_expanded {
	float:left;
	width:45%;
	overflow:hidden;
	max-width:500px;
}
.fancybox-inner {
	overflow:hidden;
}

/* =Footer
-----------------------------------------------------------------------------*/
footer {
	background-color:#FFFFFF;
	position:fixed;
	float:right;
	height:70px;
	width:auto;
	border-top: dotted 1px;
	bottom:0px;
}


/* =Contact
-----------------------------------------------------------------------------*/
#social {
	position: relative;
	margin: 8px 0 2px 0;	
	text-align: center;
}
.contact_icon {
	margin: 0 10px;
	display: inline;
	position: relative;
}
#copyright {
	font-size: 0.9em;
}
